<div class="row">
    <div class="col text-center">
        <div class="row mt-5 mb-5">
            <div class="col">
                <app-information [informationOrigin]="'test_message'"></app-information>
            </div>
        </div>
        <form [formGroup]="form" (ngSubmit)="sendMessage()">
            <div class="row mb-3 mt-3">
                <div class="col">
                    <app-whatsapp-format-guide></app-whatsapp-format-guide>
                </div>
            </div>
        <div class="row mb-3">
            <div class="col">
                    <label for="message" class="form-label">Escribe el mensaje a enviar aquí</label>
                    <textarea name="message" formControlName="message" id="message" cols="30" rows="10" class="form-control" (change)="saveToLocalStorage()"></textarea>
                    <small 
                        *ngIf="messageInvalid"
                        class="form-text text-danger">Ingrese un mensaje a enviar</small>
            </div>
            <div class="row">
                <div class="col">
                    {{messageLength}} de {{maxSizeMessage}} caracteres usados
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="phoneNumber" class="form-label">Ingresa números separados por coma para enviar mensaje de prueba </label>
                <input class="form-control" formControlName="phoneNumber" type="text" id="phoneNumber">
                <small 
                        *ngIf="phoneNumberInvalid"
                        class="form-text text-danger">Ingrese número valido</small>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col">
                <button type="button" class="btn btn-warning" (click)="clearForm()">Limpiar</button>
            </div>
           
            <div class="col">
                <button type="submit" class="btn btn-success" [disabled]="form.invalid || loading">Enviar</button>

            </div>
        </div>
    </form>
    <div class="row mb-5" *ngIf="loading">
        <div class="col text-center">
            {{currentSent}} mensajes enviados de {{contPhones}}
        </div>
    </div>
    </div>
</div>
