<div class="row">
    <div class="col text-center">
        <div class="row mt-5 mb-5">
            <div class="col">
                <app-information [informationOrigin]="'test_message'"></app-information>
            </div>
        </div>
        <div class="row mb-3 mt-3">
          <div class="col">
              <app-whatsapp-format-guide></app-whatsapp-format-guide>
          </div>
        </div>
        <app-masive-send-form
          (onFormSubmit)="sendMessage($event)"
          [isTestMessage]="true"
        />
    <div class="row mb-5" *ngIf="loading">
        <div class="col text-center">
            {{currentSent}} mensajes enviados de {{contPhones}}
        </div>
    </div>
    </div>
</div>
