<p>
<a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Guia de formato whatsapp
</a>
</p>
<div class="collapse" id="collapseExample">
<div class="card card-body">
    <p>
        <strong>Negrita</strong>: *Texto*
    </p>
    <p>
        <i>Cursiva</i>: _Texto_
    </p>
    <p>
        <del>Tachado</del>: ~Texto~
    </p>
    <p>
        <span class="monospaced">Monospace</span>: ```Texto```
    </p>
    <div style="margin: auto;">
        Lista con viñetas:
        <ul>
            <li>Elemento 1</li>
            <li>Elemento 2</li>
        </ul>
    </div>
    <p>
        * Elemento 1 <br>
        * Elemento 2
    </p>
    o 
    <p>
        - Elemento 1 <br>
        - Elemento 2
    </p>
    <div style="margin: auto;">
        Lista enumerada:
        <ol>
            <li>Elemento 1</li>
            <li>Elemento 2</li>
        </ol>
    </div>
    <p>
        <b>1.</b> Elemento 1 <br>
        <b>2.</b> Elemento 2
    </p>
    <p>
        ║Cita de texto: > Texto
    </p>
    <div style="margin: auto;">
        <code>Línea de código</code>: `Texto`
    </div>
</div>
</div>