<div class="row">
    <div class="col text-center">
        <div class="row mt-5 mb-5">
            <div class="col">
                <app-information [informationOrigin]="'home'"></app-information>
            </div>
        </div>
        <div class="row mb-3 mt-3">
            <div class="col">
                <app-whatsapp-format-guide></app-whatsapp-format-guide>
            </div>
        </div>
        <app-masive-send-form
          (onFormSubmit)="sendMessage($event)"
        />
    @if(loading){
      <div class="row mb-5" >
          <div class="col text-center">
              {{currentSent}} mensajes enviados de {{contPhones}}
          </div>
      </div>
    }

    </div>
</div>
